@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,800;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');


.main {
  display: flex;
  color: white;
  font-family: "Poppins";
  background-color: #0C0D11;
}

.title {
  font-weight: bold;
  font-size: 1.8em;
}

.star {
  font-weight: bold;
  font-size: 2.2em;
  margin-left: 2em;
}

.errorMsg {
  color: tomato;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.smallText {
  font-size: 0.7em;
  color: gray;
  text-align: center;
}

.bold {
  font-weight: bold;
  color: whitesmoke;
}

.img {
  height: 100vh;
  width: 45%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rightPart {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signInPart {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signUpOptions {
  display: flex;
  gap: 1em;
  width: 92%;
}

.signUpOption {
  border: 1px grey solid;
  font-size: 14px;
  padding: 6px;
  text-align: center;
  margin: 1em 0;
  border-radius: 4px;
  width: 50%;
}

.textField {
  border: none;
  border-radius: 6px;
  background-color: transparent;
  border-bottom: 3px solid grey;
  padding: 4px 10px;
  width: 100%;
  font-family: "Poppins";
}

.textField:focus {
  outline: none;
  color: whitesmoke;
}

.createAccountBtn {
  background-color: whitesmoke;
  border: none;
  width: 94%;
  color: #0C0D11;
  padding: 10px 0;
  border-radius: 6px;
  font-weight: bold;
}

