@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,800;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

.main {
  display: flex;
  color: white;
  font-family: "Poppins";
  background-color: #0c0d11;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 1.4em;
}

.star {
  font-weight: bold;
  font-size: 2.2em;
  margin-left: 2em;
}

.errorMsg {
  color: tomato;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.successMsg {
  color: aquamarine;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.smallText {
  font-size: 0.7em;
  color: gray;
  text-align: center;
}

.bold {
  font-weight: bold;
  color: whitesmoke;
}

.img {
  height: 100vh;
  width: 45%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rightPart {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signInPart {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.textField::placeholder {
  color: whitesmoke;
}

.textField {
  color: whitesmoke;
  background-color: #161a23;
  border: 1px solid #383838;
  border-radius: 4px;
  padding: 8px 10px;
  font-family: "Poppins";
}

.textField:hover {
  border-color: #0582ff;
}

.textField:focus {
  outline: none;
  border-color: #0582ff;
}
